.advantages {
  margin-left: 18.23vw;
  margin-right: 18.13vw;
  margin-top: 6.25vw;

  @media (max-width: $tablet) {
    margin-left: 6.49vw;
    margin-right: 6.49vw;
    margin-top: 10.39vw;
  }

  @media (max-width: $mobile) {
    margin-left: 7.81vw;
    margin-right: 7.81vw;
    margin-top: 15.62vw;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.56vw 1.61vw;

  @media (max-width: $tablet) {
    gap: 3.90vw 3.77vw;
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    gap: 9.38vw 0;
  }
}

.advantages__item {
  border: 1px solid $color-grey;
  border-left: 0.26vw solid $color-blue;
  padding: 5.45vw 2.34vw 1.82vw 2.34vw;
  position: relative;
  height: fit-content;
  min-height: 15.63vw;

  @media (max-width: $tablet) {
    border-left: 0.65vw solid $color-blue;
    padding: 12.34vw 3.90vw 0 5.04vw;
    min-height: 46.75vw;
  }

  @media (max-width: $mobile) {
    border-left: 1.56vw solid $color-blue;
    padding: 23.2vw 7.38vw 18.44vw 7.38vw;
    min-height: 101.56vw;
    max-height: 106.25vw;
  }
}

.advantages__icon {
  fill: $color-blue;
  position: absolute;
  top: 2.083333vw;
  left: 2.043750vw;
  width: 1.822917vw;
  height: 1.822917vw;

  @media (max-width: $tablet) {
    width: 4.545455vw;
    height: 4.545455vw;
    top: 5.394805vw;
    left: 5.344156vw;
  }

  @media (max-width: $mobile) {
    width: 9.375000vw;
    height: 9.375000vw;
    top: 9.375000vw;
    left: 7.375000vw;
  }
}

.advantages__caption {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.250000vw;
  color: $color-blue;

  @media (max-width: $tablet) {
    font-size: 3.116883vw;
    line-height: 140%;
  }

  @media (max-width: $mobile) {
    font-size: 6.250000vw;
  }
}

.advantages__description {
  font-family: "PT Mono", sans-serif;
  font-weight: 400;
  font-size: 0.833333vw;
  line-height: 135%;
  margin-top: 1vw;
  color: $color-default-black;

  @media (max-width: $tablet) {
    font-size: 2.077922vw;
    margin-top: 0;
    max-width: 30.818182vw;
  }

  @media (max-width: $mobile) {
    font-size: 4.375000vw;
    margin-top: 3.687500vw;
    max-width: 64.625000vw;
  }
}

.advantages__item:hover {
  background-color: $color-blue;
}

.advantages__item:hover .advantages__icon {
  fill: $color-default-white;
}

.advantages__item:hover .advantages__caption {
  color: $color-default-white;
}

.advantages__item:hover .advantages__description {
  color: $color-default-white;
}
